/* **************************************************************** */
/* BASIC */
/* **************************************************************** */
/* Tipografía */
@font-face {
    font-family: 'montserratthin_italic';
    src: url('./font/montserrat-thinitalic.woff2') format('woff2'),
         url('./font/montserrat-thinitalic.woff') format('woff');
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('./font/montserrat-semibold.woff2') format('woff2'),
         url('./font/montserrat-semibold.woff') format('woff');
}



/* **************************************************************** */
/* SLIDER */
/* **************************************************************** */
.container{
  position: relative;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 500px;
}

.carrusel {
    width: 400%;
    display: flex;
    animation: slide 15s infinite;
}
.slider {
    width: 25%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Legend */
.slider__triangulo {
    border: 500px solid transparent;
    border-left: 800px solid rgba(52, 73, 94, 0.7);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
}

/* Contents */
.slider__content {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
}
.contentTexto {
    width: 400px;
    height: 150px;
    position: relative;
    top: 300px;
    animation: content-s 5s infinite;
}
.contentTexto__titulo {
    font-family: 'montserratsemibold';
    font-size: 24px;
    color: #fff;
    transform: translateX(30px);
    padding-bottom: 10px;
}
.contentTexto__parrafo {
    font-family: 'montserratthin_italic';
    font-size: 14px;
    color: #fff;
    transform: translateX(30px);
}

/* Switch */
.switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 50px;
    z-index: 99;
    left: 30px;
}
.switch {
    display: flex;
}
.switch > a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
    cursor: pointer;
}

.on {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f39c12;
    position: relative;
    animation: on 15s infinite;
}

/* Animation */
/* imágenes */
@keyframes slide {
    0%,
    100% {
        transform: translateX(0%);
    }
    31% {
        transform: translateX(0%);
    }
    35% {
        transform: translateX(-25%);
    }
    61% {
        transform: translateX(-25%);
    }
    65% {
        transform: translateX(-50%);
    }
    96% {
        transform: translateX(-50%);
    }
}

/* Texto */
@keyframes content-s {
    0% {
        left: -420px;
    }
    10% {
        left: 20px;
    }
    15% {
        left: 0px;
    }
    30% {
        left: 0px;
    }
    40% {
        left: 0px;
    }
    50% {
        left: 0px;
    }
    60% {
        left: 0px;
    }
    70% {
        left: 0;
    }
    80% {
        left: -520px;
    }
    90% {
        left: -520px;
    }
    100% {
        left: -520px;
    }
}

/* Circulos de Avance */
@keyframes on {
    0%,
    100% {
        transform: translateX(0);
    }
    31% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(15px);
    }
    61% {
        transform: translateX(15px);
    }
    65% {
        transform: translateX(30px);
    }
    96% {
        transform: translateX(30px);
    }
}
